<div class="content">

  <h1>Les domaines de formations</h1>

  <div class="menu">
    <div class="rang1">
      <button class="ovale-bleu">Langages de <br>programmation</button>
      <button class="ovale-bleu">Réseaux</button>
    </div>
    <div class="end">
      <div class="rang2">
        <button class="ovale-bleu">Gestion de projet</button>
        <button class="ovale-bleu">Systèmes d'exploitation</button>
      </div>
    </div>

  </div>
</div>

<div class="retour">
  <a routerLink="../account/administrator">← Retour au tableau de bord</a>
  <a routerLink="../ajouter-formation" id="ajouter"><strong>Ajouter une formation</strong></a>
</div>

