<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Inscription formateur</title>
</head>
<body>

<nav class="breadcrumb">
  <ul>
    <li><a routerLink="">Inscription</a></li>
    <li><strong>Formateur</strong></li>
  </ul>
</nav>

<div class="content">
  <h1>Finalisation de votre inscription en tant que formateur</h1>

  <form>
    <label for="specialite">Votre spécialité*</label>
    <input id="specialite" class="input-text">

    <label>Votre niveau d'expertise*</label>
    <div class="rating"><!--
   --><a href="#5" title="Donner 5 étoiles">☆</a><!--
   --><a href="#4" title="Donner 4 étoiles">☆</a><!--
   --><a href="#3" title="Donner 3 étoiles">☆</a><!--
   --><a href="#2" title="Donner 2 étoiles">☆</a><!--
   --><a href="#1" title="Donner 1 étoile">☆</a>
    </div>

    <p class="margin-top">*champs obligatoires</p>

    <div class="center">
      <button>Valider</button>
    </div>
  </form>
</div>

  <div class="retour">
    <a routerLink="../inscription">← Retour à la page 1 de l'inscription</a>
  </div>
</body>
</html>
