<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Inscription</title>
</head>
<body>

  <div class="content">

    <h1>Inscription</h1>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <label for="nom">Nom*</label>
      <input id="nom" type="text" formControlName="lastName" class="input-text"/>
      <label for="prenom">Prénom*</label>
      <input id="prenom" type="text" formControlName="firstName" class="input-text"/>
      <label for="mail">Mail*</label>
      <input id="mail" type="text" formControlName="email" class="input-text">
      <label for="tel">Téléphone</label>
      <input id="tel" type="text" formControlName="phone" class="input-text">
      <label for="mdp">Mot de passe*</label>
      <input id="mdp" type="password" formControlName="password" class="input-text">
      <label for="profil">Type de profil*</label>
      <select id="profil" formControlName="userType">
        <option>learner</option>
        <option>teacher</option>
        <option>administrator</option>
      </select>
      <p>*champs obligatoires</p>
      <div class="center">
        <button [disabled]="!formGroup.valid">Valider</button>
      </div>
    </form>

  </div>

</body>
</html>

<!--
      <label for="nom">Nom*</label>
      <input id="nom" class="input-text">
      <label for="prenom">Prénom*</label>
      <input id="prenom" class="input-text">
      <label for="mail">Mail*</label>
      <input id="mail" class="input-text">
      <label for="tel">Téléphone*</label>
      <input id="tel" class="input-text">
      <label for="mdp">Mot de passe*</label>
      <input id="mdp" class="input-text">
      <p class="italic">8 caractères minimum</p>

      <div class="radio-form">
        <div class="radio-button">
          <input type="radio" name="user" id="apprenant" checked>
          <label for="apprenant" class="margin-left">Apprenant</label>
        </div>
        <div class="radio-button">
          <input type="radio" name="user" id="formateur">
          <label for="formateur" class="margin-left">Formateur</label>
        </div>
        <div class="radio-button">
          <input type="radio" name="user" id="admin">
          <label for="admin" class="margin-left">Administrateur</label>
        </div>
      </div>

      <p>*champs obligatoires</p>

      <div class="center">
        <button>Valider</button>
      </div> -->
