<div class="content">

  <nav class="navbar">

    <a><img src="assets/ITraining.png" width="420vw"></a>

    <div class="menu">
      <div class="bouton">
        <a routerLink="../formations-catalogue">Nos formations</a>
      </div>
      <div class="bouton">
        <a routerLink="../contact">Nous contacter</a>
      </div>
      <div class="bouton">
        <a routerLink="../inscription">Inscription</a>
      </div>
      <div class="bouton">
        <a routerLink="../account/administrator">Mon compte</a>
      </div>
    </div>

  </nav>

</div>


