<nav class="breadcrumb">
  <ul>
    <li>Mon compte</li>
    <li><strong>Les formateurs</strong></li>
  </ul>
</nav>

<div class="content">
  <h1>Les formateurs</h1>

  <div class="body">
    <div class="formation">
      <h2 class="largeur">Nom</h2>
      <h2 class="center">Spécialité</h2>
      <h2 class="align-right">Note moyenne</h2>
    </div>
    <ul class="liste">
      <li class="formation">
        <div class="largeur">Mr machin</div>
        <div class="center">Java</div>
        <div class="align-right">/5</div>
      </li>
    </ul>
  </div>
</div>

<div class="retour">
  <a routerLink="../account/administrator"
  >← Retour au tableau de bord</a
  >
</div>

