<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>ITraining</title>
</head>
<body>

<section>
  <h1 class="h1">Bienvenue sur le site d'<span class="dark-red">IT</span>raining</h1>

  <div class="menu">

    <div class="groupe-ovales">
      <button routerLink="../formations-catalogue" class="ovale-bleu">Nos formations</button>
      <div class="ovale-rouge"></div>
    </div>

    <div class="row">
      <div class="groupe-ovales">
        <button routerLink="../contact" class="ovale-bleu">Contact</button>
        <div class="ovale-rouge"></div>
      </div>
      <div>
        <img src="assets/ITraining.png" width="600vw">
      </div>
      <div class="groupe-ovales">
        <button routerLink="../inscription" class="ovale-bleu">Inscription</button>
        <div class="ovale-rouge"></div>
      </div>
    </div>

    <div class="groupe-ovales">
      <button routerLink="../connection" class="ovale-bleu">Mon compte</button>
      <div class="ovale-rouge"></div>
    </div>

  </div>
</section>

</body>
</html>
