<div class="content">

  <h1>Trouvez votre formation parmi ces différents domaines</h1>

  <div class="menu">
    <div class="rang1">
      <button routerLink="../langages-programmation" class="ovale-bleu">Langages de <br>programmation</button>
      <button routerLink="../reseaux" class="ovale-bleu">Réseaux</button>
    </div>
    <div class="end">
      <div class="rang2">
        <button routerLink="../gestion-projet" class="ovale-bleu">Gestion de projet</button>
        <button routerLink="../systemes-exploitation" class="ovale-bleu">Systèmes d'exploitation</button>
      </div>
    </div>

  </div>
</div>
