<nav class="breadcrumb">
  <ul>
    <li>Nos formations</li>
    <li><strong>Langages de programmation</strong></li>
  </ul>
</nav>

<div class="content">
  <h1>Nos formations en langages de programmation</h1>

  <div class="body">
    <ul class="formations">
      <li *ngFor="let trainingModule of trainingModuleList$ | async" (click)="onClickTrainingModule(trainingModule.id)">
        {{trainingModule.title}}
      </li>
    </ul>
    <div class="image"><img src="assets/10168.jpg" /></div>
  </div>
</div>

<div class="retour">
  <a routerLink="../formations-catalogue"
    >← Retour à la liste des domaines de formation</a
  >
</div>
